.cart-header {
    padding-bottom: 40px;

}



.shop-cart {
    .container {
        position: relative;

        @media(max-width:1625px) {
            max-width: 950px;
            margin: 0 11%;

            @media(max-width:1285px) {
                margin: 0;

                @media (max-width:1115px) {
                    max-width: 840px;

                    @media(max-width:1000px) {
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: reverse;
                        -ms-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                        margin: 20px auto 0;


                    }
                }
            }
        }
    }
}


.shop-cart__list {
    width: 76%;

    @media(max-width:1000px) {
        width: 98%;
    }

    .shop-cart__header {
        margin-top: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        padding-bottom: 4px;

        @media(max-width:1115px) {
            margin-top: 30px;
            font-size: 20px;
            margin-right: 60px;

            @media(max-width:1000px) {
                margin-right: 0;
            }
        }
    }
}

.shop-cart__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0;
    background-color: #FCF9F4;
    width: 100%;

    img {
        max-width: 150px;

        @media(max-width:1115px) {
            max-width: 100px;

            @media(max-width:515px) {
                max-width: 200px;
            }
        }
    }

    @media(max-width:1115px) {
        margin: 20px 0;

        @media(max-width:515px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 200px;
            margin: 20px auto;
        }
    }
}

.shop-cart__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


    @media(max-width: 1000px) {
        margin-left: 70px;

        @media(max-width: 515px) {
            margin-left: 0;
            padding: 20px 0;
        }
    }

    .shop-cart__name {
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 20px;

        @media(max-width:1115px) {
            font-size: 20px;
            padding-bottom: 10px
        }
    }
}

.shop-cart__calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media(max-width:515px) {
        padding-bottom: 20px;
    }

    .shop-cart__plus,
    .shop-cart__minus {
        display: block;
        margin: 0 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 18px;
            top: 12px;
            left: 12px;

        }

    }

    .shop-cart__plus {
        background-color: $green;

        &::after {
            background: url(../img/plus-solid.svg);
        }
    }

    .shop-cart__minus {
        background-color: $red;

        &::after {
            background: url(../img/minus-solid.svg);
        }
    }

    .shop-cart__amount {
        font-size: 20px;
        font-weight: 700;
    }
}




.shop-cart__check {
    position: fixed;
    right: calc(20% - 200px);
    top: 237px;
    padding: 40px 20px;
    background-color: #F9F1E6;

    @media(max-width:1115px) {
        top: 168px;
        padding: 20px 10px;
        font-size: 16px;
        right: calc(20% - 186px);

        @media(max-width:1000px) {
            position: relative;
            top: auto;
            right: auto;
        }
    }

    .shop-cart__discount {
        padding-bottom: 10px;
    }


    .shop-cart__inp {
        width: 80%;
        padding: 10px 0;


    }


    .shop-cart__subtotal {
        padding: 30px 0 5px;

        @media(max-width:1115px) {
            padding-top: 15px;
        }
    }

    .shop-cart__total {
        padding: 5px 0 30px;
        font-weight: 700;

        @media(max-width:1115px) {
            padding-bottom: 15px;
        }
    }

    .shop-cart__btn {
        width: 100%;
        padding: 15px 0;
        font-weight: 600;
        font-size: 18px;
        background-color: $green;
        color: $white;
    }

    label {
        padding: 5px 10px 8px;
        cursor: pointer;
        background-color: $white;


        img {
            max-width: 25px;
            vertical-align: middle;
        }
    }
}