.about-product{
    position: absolute;
    max-width: 500px;
    top:10%;
    left: 5%;
    //background-color: #DED7CD;
    border-radius:51% 49% 53% 47% / 45% 46% 54% 55%;
    background:-moz-radial-gradient(circle at 50% 50%, rgba(222, 215, 205, 1) 30%, rgba(101, 101, 101, 1) 70%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(222, 215, 205, 1) 30%, rgba(101, 101, 101, 1) 70%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(222, 215, 205, 1) 30%, rgba(101, 101, 101, 1) 70%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(222, 215, 205, 1) 30%, rgba(101, 101, 101, 1) 70%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(222, 215, 205, 1) 30%, rgba(101, 101, 101, 1) 70%);
    
    
    .container{
        display: block;
        padding: 50px;

        .about-product__header{
            @include fontG(700, 56px, $fontL: 120%);
            padding-bottom: 16px;
            text-align: center;
        }

        .about-product__subtitle{
            text-align: center;
        }

        .about-product__button{
            background-color: $primary;
            padding: 20px 60px;
            @include fontG(700, 20px, $fontL: 120%, $fontC:$white);
            margin: 40px auto;
            display: block;
            transition: .3s;

            &:hover{
                background-color: $white;
                color:$primary;
            }
        }
    }
}

.model-container{
    cursor: grab;
}