.about-product-3d{
    position: absolute;
    top: calc(50% - 75px);
    right: 5%;
    max-width: 20%;
    text-align: center;
    left: auto;
    color: #1b1b1b;
   
    @media(max-width:1000px){
        max-width: 25%;
        font-size: 16px;
        top: calc(50% - 113px);

        @media(max-width:870px){
            position: relative;
            top: auto;
            right: auto;
            text-align: center;
            margin: 0 auto;
            max-width: 90%;
            font-size: 20px;
        }
    }
    
    
}
.model{
    max-width: 100%;
   
    canvas{
        display: block;
    }
    @media(max-width:870px){
        margin-top: 20px;
        
    }

    &__container{
        cursor: -webkit-grab;
        cursor: grab;
    } 
}

.page-3d{

    .wrapper{
        background-color:#656565 ;
    }
}



.logo{
    position: absolute;
    top: 4%;
    left: 1.25%;
    width: 100px;
    height: 25px;
    
    a{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        img{ 
            max-width: none;
        }
    }

    @media(max-width: 380px){
        top: 1%;
        left: 0%;
    }
}

.product-name{
    position: absolute;
    top: 2.5%;
    left: calc(50% - 126px);
    @include fontG(700, 56px, $fontL: 120%, $fontC: #1b1b1b);
    padding-bottom: 16px;
    text-align: center;

    @media(max-width:1000px){
        font-size: 35px;
        left:calc(50% - 79px);

        @media(max-width:870px){
            position: relative;
            top:auto;
            left:auto;

            @media(max-width:380px){
                font-size: 30px;
                top: 6%;
            }
        }
        
    }
}

.about-product{
    position: absolute;
    top: calc(50% - 75px);
    right: 5%;
    max-width: 20%;
    text-align: center;
    left: auto;
    color: #1b1b1b;

    @media(max-width:1000px){
        max-width: 25%;
        font-size: 16px;
        top: calc(50% - 113px);

        @media(max-width:870px){
            top: 13%;
            max-width: 90%;

            @media(max-width:380px){
                top: 15%;
                font-size: 15px;
            }
        }
    }
}


.product-btn-3d{
    position: absolute;
    bottom: 10%;
    left: calc(50% - 100px);
    max-width: 200px;

    button{
        background-color: #1b1b1b;
        padding: 20px 60px;
        @include fontG(700, 20px, $fontL: 120%, $fontC:$white);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;

        &:hover{
            background-color: $primary;
            color: #E4E4E4;
        }

        @media(max-width:1000px){
            padding: 15px 50px;
            font-size: 16px;

            @media(max-width:380px){
                font-size: 15px;
                padding: 13px 45px;
            }
        }
    }

    @media(max-width:1000px){
        left: calc(50% - 81px);

        @media(max-width:870px){
            max-height: 100vh;
            position: relative;
            bottom: auto;
            left:auto;
            margin: 6% auto;
            max-width: 164px;
            display: block;
        }
    }    
}