//*************HEADER-BTN*****************//

.container-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  max-width: 374px;
  position: relative;
  width: 100%;
  padding: 10px 0;

  @media(max-width:1100px){
    font-size: 15px;
    
    @media(max-width:500px){
      padding: 5px 0 ;

      @media(max-width:480px){
        padding: 2px 0;
        font-size: 13px;
      }
    }
  }

}

.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: $white;
  border: 4px solid $primary;
  box-shadow: 0px 0px 0px 1px $primary inset;
  background-color: $primary;
  overflow: hidden;
  position: relative;
  transition: all 0.35s ease-in-out;
}

.effect01:hover {
  border: 4px solid $black;
  background-color: $white;
  box-shadow: 0px 0px 0px 4px $white inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.25s ease-out;
  z-index: 2;
}

.effect01:hover span {
  color: $black;
}

/*highlight*/
.effect01:after {
  background: $white;
  border: 0px solid $primary;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

.effect01:hover:after {
  background: $white;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}


//*************HEADER-BTN*****************//

//*******************HEART********************//

.heart {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s;

  &:hover {
    background-color: rgba(255, 24, 88, 0.2);
  }

  &:hover svg {
    animation: heart .4s;
    animation-iteration-count: 1;
  }

  @keyframes heart {
    0% {
      transform: scale(.3);
    }

    50% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(1);
    }
  }


  &:hover svg {
    fill: $red;
  }

  &:hover path {
    stroke: $red;
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }

}



//*******************HEART********************//



//*******************SHOP CART********************//

.cart {
  padding: 22px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: $hover-primary;
  }

  svg {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    transition-duration: .3s;
    transition-property: left;
  }

  &:hover svg {
    left: 45px;
  }

  &__calc {
    position: absolute;
    top: 40px;
    left: calc(50% - 6px);
    transition-duration: .3s;
    transition-property: top;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $black;
  }

  &:hover .cart__calc {
    top: 7px;
  }
}



//*******************SHOP CART********************//



//*******************SWIPER ARROW********************//


.main-swiper__arrow{
  overflow: hidden;

}

.main-swiper__right:hover svg{
  animation: arrowSwiperR 1s;
  animation-iteration-count: 1;
  
}



.arrow{
  transition: .3s;

  &:hover{
  background-color: $primary;

    svg{

      path{
        stroke: $white;
      }
    }
  }
}



@keyframes arrowSwiperR{
  0% { 
    opacity:1; 
    transform: translateX(-13px); 
  }
  50% { 
    opacity:1; 
    transform: translateX(13px); 
  }
  100% { 
    opacity:0; 
    transform: translateX(0); 
  }
}



.main-swiper__left:hover svg {
  animation: arrowSwiperL 1s;
  animation-iteration-count: 1;
  
}

@keyframes arrowSwiperL{
  0% { 
    opacity:1; 
    transform: translateX(13px); 
  }
  50% { 
    opacity:1; 
    transform: translateX(-13px); 
  }
  100% { 
    opacity:0; 
    transform: translateX(0); 
  }
}


//*******************SWIPER ARROW********************//



//*******************BURGER MENU********************//




.checkbox-menu{
  appearance: none;
}

.menu{
  position: relative;
  left: 21px;
  top: 9px;
}


.hamburger::before { 
  top: 1px; 

 
}

.hamburger::after { 
  bottom: 12px; 

  
}

.hamburger::after, .hamburger::before{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: $black;
  border-radius: 2px;
  
}

.hamburger{
  display: block;
  width: 40px;
  height: 3px;
  background: $black;
  align-items: center;
  border-radius: 2px;

  
}

.label-menu{
  border-radius: 60% 40% 46% 54% / 59% 64% 36% 41% ;
  background-color: $primary;
  padding: 44px;
  position: absolute;
  left: -47px;
  top: -36px;
  transition: all .4s;
  z-index: 20;
  cursor: pointer;
  display: none;
  

  @media(max-width:1000px){
    display: block;
  }

}

.list-elem{
  display: none;
}

.active{
  box-shadow: 0 0 0 100vw $primary, 0 0 0 100vh $primary;
  border-radius: 0;
  overflow: hidden;
  pointer-events: auto;
  position: fixed;

  &::-webkit-scrollbar{
    width: 0;
  }
  
  .list-elem{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .head-nav__item{
      margin: 0;
      padding: 20px 0;
    }
  }
}


.scroll{
  overflow: hidden;
}

.burder{
  position: relative;
}



.act-nav{
  position: absolute;
  z-index: 22;
  flex-direction: column;
  align-items: center;
  margin: 0;
  top: 7%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transform: scale(1.1);
  display: flex;


  @media(max-width:500px){
    left: 40%;
  }

  .head-nav__item{
    margin: 0;
    padding: 30px 0;

    &:after{
      top:35px;
    }

    &:nth-of-type(1){
      margin-top: 30px;
    }

    &:hover{
      filter:invert(100%) sepia(40%) saturate(357%) hue-rotate(228deg) brightness(113%) contrast(112%);
    }
  }

  .head-nav__logo{
    margin: 0 0 0 0;
  }
}




//*******************BURGER MENU********************//
