footer {
    padding-bottom: 50px;

    .container {
        border-width: 1px 0 0;
        border-style: solid;
        border-color: $light-gray;
        align-items: start;

        @media(max-width:1045px){
            flex-wrap: wrap;
        }
    }
}

.footer-elem {
    padding: 80px 0 0;
    margin-right: 67px;

    @media(max-width:1045px){
        padding-top: 40px;
    }

    @media(max-width:1045px){
        margin-right: 0;
        justify-content: center;
        width: 50%;
        text-align: center;
    }

    &__header {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $black;
        padding-bottom: 16px;

        @media(max-width:850px){
            font-size: 20px;
        }
    }

    &__content {
        max-width: 249px;
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $gray-text;
        display: block;

        @media(max-width:850px){
            font-size: 14px;
        }

        &:last-child {
            padding-bottom: 0;
            
        }

        @media(max-width:1045px){
            max-width: none;
            
        }
    }

    &:last-child{
        margin-right: 0;

        @media(max-width:1045px){
            margin: 0 auto;
            width: 100%;
        }
    }

    .inp{
        @media(max-width:1045px){
            justify-content: center;
        }
    }
}

.location,
.phone {
    position: relative;
    margin-left: 28px;

    @media(max-width:1045px){
        margin-left: 0;

        @media(max-width:500px){
            padding-left: 10px;
        }
    }
}

.location::before {

    background: url(../img/location.svg) no-repeat;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;

    @media(max-width:1045px){
        left: 22%;

        @media(max-width:995px){
            left: 18%;

            @media(max-width:870px){
                left: 12%;

                @media(max-width:700px){
                    left:4%;

                    @media(max-width:565px){
                        left:-3%;

                        @media(max-width:370px){
                            left:-5%;
                        }
                    }
                }
            }
        }
    }
}

.phone::before {

    background: url(../img/phone.svg) no-repeat;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;

    @media(max-width:1045px){
        left: 34% ;

        @media(max-width:995px){
            left:30%;

            @media(max-width:870px){
                left:24%;

                @media(max-width:700px){
                    left:16%;

                    @media(max-width:565px){
                        left:8%;

                        @media(max-width:370px){
                            left:-5%;
                        }
                    }
                }
            }
        }
    }
}

.footer-email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}

.footer-email {
    padding: 14px 113px 14px 12px;
    background-color: #F4F5F7;
    
    @media(max-width:350px){
        padding-right: 60px;
    }
}

.footer-btn{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: $primary;
    margin-left: 5px;

    &::after{
        content: '';
        position: absolute;
        background: url(../img/send.svg) no-repeat;
        width:24px;
        height: 24px;
        top:10px;
        left: 10px;

        
    }
}
.inp{
    display: flex;
}