.furniture {

    padding-bottom: 87px;

    @media(max-width:850px) {
        padding-bottom: 30px;
    }
}


.furniture__header {
    @include fontG(700, 40px, $fontL: 120%);
    text-align: center;

    @media(max-width:850px) {
        font-size: 20px;
    }

    &--text {
        @include fontG(700, $fontS: 20px, $fontC: $gray-text, $fontL: 150%);
        display: block;

        @media(max-width:850px) {
            font-size: 14px;
        }
    }
}



.furniture__main {
    background: url(../img/back-furniture.jpg) no-repeat;
    background-size: contain;
    position: relative;


    path {
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
    }

    .furnitura-hover-img {
        position: absolute;
        -webkit-animation: furnituraImg .6s;
        animation: furnituraImg .6s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        cursor: pointer;
    }
}

@-webkit-keyframes furnituraImg {
    0% {

        -webkit-transform: scale(1);

        transform: scale(1);
    }

    100% {

        -webkit-transform: scale(1.2);

        transform: scale(1.2);
    }
}

@keyframes furnituraImg {
    0% {

        -webkit-transform: scale(1);

        transform: scale(1);
    }

    100% {

        -webkit-transform: scale(1.2);

        transform: scale(1.2);
    }
}


.fur {
    fill: transparent;
}