.furniture{
    
    padding-bottom: 87px;

    @media(max-width:850px){
        padding-bottom: 30px;
    }
}


.furniture__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    @media(max-width:850px){
        font-size: 20px;
    }

    &--text {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $gray-text;
        display: block;

        @media(max-width:850px){
            font-size: 14px;
        }
    }
}



.furniture__main{
    background: url(../img/back-furniture.jpg) no-repeat;
    background-size: contain;
    position: relative;
    

    path{
        transition: transform 1s;
    }

    .furnitura-hover-img{
        position: absolute;
        animation: furnituraImg .6s; 
        transform: scale(1.2);
        cursor: pointer;
    }
}

@keyframes furnituraImg {
    0%{
       
        transform: scale(1);
    }
    100%{
       
        transform: scale(1.2);
    }
}


.fur{
    fill:transparent;
}