.furniture{
    
    padding-bottom: 87px;

    @media(max-width:850px){
        padding-bottom: 30px;
    }
}


.furniture__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    @media(max-width:850px){
        font-size: 20px;
    }

    &--text {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $gray-text;
        display: block;

        @media(max-width:850px){
            font-size: 14px;
        }
    }
}



.furniture__main{
    padding-bottom: 40%;
    background: url(../img/back-furniture.jpg) no-repeat;
    background-size: contain;
}
