.rooms {
    background-color: $back-color;
    padding: 44px 0 90px;

    .container{
        @media(max-width:780px){
            flex-direction: column;
            
        }

        .active-about-room{
            display: block;
        }
    }

    @media(max-width:1160px){
        padding: 30px 0 40px;
    }
}

.rooms-text {
    max-width: 378px;

    @media(max-width:780px){
        padding-bottom: 30px;
        text-align: center;
    }

    &__header {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        padding-bottom: 8px;

        @media(max-width:780px){
            font-size: 25px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 24px;

        @media(max-width:780px){
            font-size: 14;
        }
    }

    &__btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        padding: 12px 40px;
        background-color: $primary;

        @media(max-width:780px){
            font-size: 14px;
        }
    }
}


.rooms-swiper {
    display: flex;
    justify-content: space-between;
    margin-right: -890px;
    position: relative;

    &__elem {
        margin-right: 24px;

        img{
            position: relative;
        }

        &:nth-child(1) {
            margin-top: 49px;
            margin-right: 61px;

            img {
                transform: scale(1.2);
                

                @media(max-width:1160px){
                    transform: none;
                }
            }

            @media(max-width:1160px){
                margin-top: 0;
                margin-right: 20px;
            }
        }
    }

    @media(max-width:1160px){
        margin-right: -1200px;

        @media(max-width:780px){
            margin-right: -890px;
        }
    }


    .main-swiper__pagination {
        display: flex;
        position: absolute;
        top: 532px;
        left: calc(35% - 104px);

        @media(max-width:1160px){
            left:125px;
            top:500px;

            @media(max-width:780px){
                top:calc(100% - -10px);
                left: calc(10% - 48px); //try everywhere
            }
        }

        .main-swiper__dot {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background-color: $light-gray;
            margin-left: 20px;
            transition: .3s;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: $primary;
            }

            &:hover::after {
                border-color: $primary;
            }

            &::after {
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 13px;
                position: absolute;
                content: '';
                top: calc(50% - 14px);
                left: calc(50% - 14px);
                transition: .3s;
            }

            
        }
        .active-pag{
            background-color: $primary;
        }
    }


    .main-swiper__arrow{
        top: calc(80% - 50px);
        right: calc(70% - 228px);
        

        .arrow{
            background: #FFFFFF;
            box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
            margin:17px;

            svg{

                path{
                    stroke:$primary;
                }
                
            }
        }
    }
}



.elem-about {
    position: absolute;
    padding: 31px 32px 24px 25px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px); //No support Firefox IE Firefox for Android
    bottom: -18px;
    left: -9px;
    display: none;

    
    @media(max-width:1160px){
        bottom: 24px;
        left: 20px;

        @media(max-width:780px){
            padding: 20px;
        }
    }

    &__position {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $gray-text;
        padding-bottom: 8px;

        @media(max-width:780px){
            font-size: 14px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;

        @media(max-width:780px){
            font-size: 20px;
        }
    }

    &::after{
        content: '';
        position: absolute;
        background: url(../img/arr-long-right-white.svg) no-repeat 50% 50%;
        background-color: $primary;
        width: 48px;
        height: 48px;
        top: calc(100% - 48px);
        right: -48px;
    }
}