.tip-trik {
    padding: 44px 0 88px;

    &__header {
        @include fontG(700, 40px, $fontL: 120%);
        text-align: center;
        padding-bottom: 32px;

        @media(max-width:950px) {
            font-size: 32px;

            @media(max-width:580px) {
                font-size: 25px;

                @media(max-width:400px) {
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        display: block;
        padding: 0;
        position: relative;

        .main-swiper__pagination {
            left: calc(50% - 87px);
            top: 100%;

            @media(max-width:810px) {
                left: calc(50% - 69px);
            }
        }

        .main-swiper__arrow {
            @media(max-width:520px) {
                top: -9%;
                left: calc(50% - 240px);
                right: auto;
                width: 480px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

            }

            .arrow {
                @media(max-width:520px) {
                    -webkit-box-shadow: 0px 4px 14px 1px rgb(0 0 0 / 26%);
                    box-shadow: 0px 4px 14px 1px rgb(0 0 0 / 26%);
                }
            }
        }
    }

    @media(max-width:950px) {
        padding: 25px 15px;
    }


}

.text {
    max-width: 390px;
}

.tip-trik-swiper {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;

    @media(max-width:1280px) {
        width: 785px;

        @media(max-width:810px) {
            width: 250px;
            padding-bottom: 20px;
        }
    }

    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;

        .tip-trik-swiper__slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 1260px;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            padding: 0 30px;


            @media(max-width:1280px) {
                width: 800px;
                padding: 0;

                @media(max-width:810px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    width: 250px;

                }
            }

            .tip-trik-swiper__elem {
                padding: 0 16px;
                max-width: 100%;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                cursor: pointer;

                @media(max-width:1280px) {
                    max-width: 250px;

                    @media(max-width:950px) {
                        padding: 0 8px;
                    }
                }




                &:hover {
                    -webkit-box-shadow: 0px 22px 41px -8px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 22px 41px -8px rgba(0, 0, 0, 0.2);
                }

                .tip-trik-swiper__header,
                .tip-trik-swiper__date {
                    padding-left: 16px;
                }

                img {
                    display: block;
                    padding-bottom: 16px;

                }

                .tip-trik-swiper__date {
                    @include fontG(400, 14px, $gray);
                    padding-bottom: 16px;

                    @media(max-width:950px) {
                        font-size: 12px;
                    }
                }

                .tip-trik-swiper__header {
                    @include fontG(600, 24px, $fontL: 120%);
                    padding-bottom: 8px;

                    @media(max-width:1280px) {
                        font-size: 16px;

                        @media(max-width:950px) {
                            font-size: 14px;

                        }
                    }

                }
            }

        }

    }
}