.tip-trik {
    padding: 44px 0 88px;

    &__header {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        padding-bottom: 32px;

        @media(max-width:950px) {
            font-size: 32px;

            @media(max-width:580px) {
                font-size: 25px;

                @media(max-width:400px){
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        display: block;
        padding: 0;
        position: relative;

        .main-swiper__pagination {
            left: calc(50% - 87px);
            top: 100%;

            @media(max-width:790px){
                left: calc(50% - 69px);
            }
        }
    }

    @media(max-width:950px) {
        padding: 25px 15px;
    }


}

.text {
    max-width: 390px;
}

.tip-trik-swiper {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;

    @media(max-width:1280px){
        width: 760px;

        @media(max-width:790px){
            width: 250px;
            padding-bottom: 20px;
        }
    }

    &__wrapper {
        display: flex;
        position: relative;

        .tip-trik-swiper__slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1260px;
            flex-shrink: 0;


            @media(max-width:1280px){
                width:760px;
                
                @media(max-width:790px){
                    flex-direction: column;
                    width: 250px;
                   
                }
            }

            .tip-trik-swiper__elem {
                padding: 0 16px;
                max-width: 100%;
                transition: .3s;
                cursor: pointer;

                @media(max-width:1280px) {
                    max-width: 250px;

                    @media(max-width:950px) {
                        padding: 0 8px;
                    }
                }




                &:hover {
                    -webkit-box-shadow: 0px 22px 41px -8px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 22px 41px -8px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 22px 41px -8px rgba(0, 0, 0, 0.2);
                }

                .tip-trik-swiper__header,
                .tip-trik-swiper__date {
                    padding-left: 16px;
                }

                img {
                    display: block;
                    padding-bottom: 16px;

                    // @media(max-width:1280px){
                    //     max-width: 70%;
                    // }
                }

                .tip-trik-swiper__date {
                    padding-bottom: 16px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: $gray;
                    // @media(max-width:1280px){
                    //     font-size: ;
                    // }
                    @media(max-width:950px) {
                        font-size: 12px;
                    }
                }

                .tip-trik-swiper__header {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    padding-bottom: 8px;

                    @media(max-width:1280px) {
                        font-size: 16px;

                        @media(max-width:950px) {
                            font-size: 14px;

                            // @media(max-width:580px) {
                            //     font-size: 16px;
                            // }
                        }
                    }

                }
            }

        }

    }
}