.top {
    padding: 104px 0;
}

.list-top {
    display: flex;
    margin-right: 114px;

    &__img {
        display: block;
        margin-right: 24px;
    }

    &:last-child {
        margin: 0;
    }

    &__about {

        .list-top__title {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            padding-bottom: 2px;
        }

        .list-top__subtitle {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }

    }
}