.top {
    padding: 104px 0;

    @media (max-width:1100px) {
        padding: 10px 0 50px;
    }

    .container{
        @media(max-width:1100px){
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
}

.list-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 114px;

    @media(max-width:1100px){
        margin-right: 0;
        padding-top: 40px;
        width: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media(max-width:480px){
            width: 100%;
        }
    }

    &__img {
        display: block;
        margin-right: 24px;

        @media(max-width:1100px){
            margin-right: 12px;
        }
    }

    &:last-child {
        margin: 0;
    }

 

    &__about {

        .list-top__title {
            @include fontG(600, 18px);
            padding-bottom: 2px;

            @media (max-width:600px) {
                font-size: 16px;
            }
        }

        .list-top__subtitle {
            @include fontG(500, 16px, $gray, 24px);
            @media (max-width:600px) {
                font-size: 14px;
            }
        }

        @media(max-width:1100px){
            text-align: center;
        }        
    }
}